@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';
@import "https://unicons.iconscout.com/release/v3.0.6/css/line.css";
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css');


:root {
	--message: '';
}

* {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	list-style: none;
}

.bg-dark {
	background-color: #2125296b !important;

}

body {
	min-height: 100vh;

	background: linear-gradient(#000000bd, #000000bd), url(../img/uwu.png)
}

.discord .avatar {
	position: relative;
	top: -30px;
}

.discord .online {
    width: 30px;
    height: 30px;
    background: #4caf50;
    position: relative;
    top: -50px;
    left: 20%;
    border-style: solid;
}

.features li {
	width: -webkit-fit-content;
}

a.ms-auto::after {
    content: attr(data-after);
    position: absolute;
    right: 3px;
    font-size: 0.8rem;
    background: white;
    color: black;
    padding: 8px 14px;
    transform: translate(0px, -25px);
    border-radius: 8px;
    width: 150px;
    min-height: 40px;
}
a.ms-auto::before {
    content: '';
    position: absolute;
    right: 19%;
    width: 10px;
    height: 10px;
    transform: translate(5%, 7px);
    background: white;
    border-bottom-left-radius: 100px;
}
.scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}


@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}